$color-green: #059D42;
$color-white: #FFFFFF;
$color-grey-dark: #464747;
$color-red: #E14646;
$color-gray: #778489;
$color-gray-light: #E9E9E9;
$color-blue-light: #D4E4DB;
$color-blue-dark: #35495e;
$color-black: #000000;

$shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1200px;